node_modules
dist
.git
Dockerfile
docker-compose*.yml
.env
npm-debug.log
.gitignore
README.md
.nyc_output
coverage
.coverage
.coverage.*
.cache
.DS_Store
.vscode
.idea
*.log
public/storage
vendor/bin
tests
.phpunit.result.cache
